.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-button {
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: darkblue;
}

.remember {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.remember-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.remember-left input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.remember-left label {
    font-size: 14px;
    color: #4B5563;
    cursor: pointer;
}

.forgot-link {
    font-size: 14px;
    color: #2563EB;
    text-decoration: none;
    font-weight: 500;
}

.forgot-link:hover {
    text-decoration: underline;
}

.login-link {
    margin-top: 12px;
    text-align: center;
    width: 100%;
}

.login-link a {
    color: blue;
}

.login-link a:hover {
    text-decoration: underline;
}