.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    background: white;
    position: static;
    top: 0;
    width: 100vw;
}

.navbar-section a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: blue;
}