.footer {
    width: 100vw;
    padding: 15px 15px;
    background: white;
    text-align: left;
    font-size: 14px;
    color: #555;
    position: static;
    bottom: 0;
}

.footer p {
    margin: 0;
}