.product-container {
    margin: 20px;
}

.product-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-header a {
    background-color: #2563eb;
    padding: 8px 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
}

.product-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-height: 30px;
    padding: 15px 0;
}

.product-search-box {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.product-search-box input {
    border-radius: 0 8px 8px 0;
    width: 100%;
    padding: 10px;
    border-left: none;
    border-right: 1px solid #d5dedb;
    border-top: 1px solid #d5dedb;
    border-bottom: 1px solid #d5dedb;

}

.product-search-box input:focus {
    outline: none;
    box-shadow: none;
}

.product-search-box button {
    background-color: white;
    border-right: none;
    font-size: large;
    display: flex;
    border-radius: 8px 0 0 8px;
    align-items: center;
    width: 45px;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #d5dedb;
    border-top: 1px solid #d5dedb;
    border-bottom: 1px solid #d5dedb;
}

.product-search-box button:focus {
    outline: none;
    box-shadow: none;
}

/* -----------Table-------------------- */

.product-table-master {
    border: 1px solid #d5dedb;
    border-radius: 12px;
    margin: 0;
    overflow: hidden;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th {
    background-color: #f8fafc;
    text-align: left;
    padding: 10px 14px;
    font-size: 14px;
    border-bottom: 1px solid #e5e7eb;
}

.product-table td {
    padding: 10px 14px;
    border-bottom: 1px solid #e5e7eb;
}