* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    line-height: 1.5;
    font-family: "Nunito Sans", sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}